body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    max-width: 600px;
    margin: auto;
    background-color: gray;
  }

  
h1, legend {
  font-family: 'Playfair Display', serif;
}
  
  label, legend {
    display: block;
    margin-top: 1rem;
    font-weight: thin;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  input:focus, select:focus, textarea:focus, button:focus {
    outline: 2px solid gray;
    outline-offset: 1px;
  }  
  
  .rating input {
    display: none;
  }
  
  .rating label {
    font-size: 2rem;
    color: #333;
    cursor: pointer;
  }
  
  /* Hover & Checked Star Rating Styles */
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: gold;
  }
  
  
  /* Main Submit Button Styling */
  .submit-btn {
    background-color: #388E3C;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1em;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  footer {
    text-align: center;
    margin-top: 1rem;
    color: black;
  }
  