/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and overall layout */
body {
    background-image: url(../images/blyde-river-canyon.webp);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4;
    color: #333;
    padding: 0 20px;
    
}

/* Header styling */
header {
    background-color: #344958;
    text-align: center;
    margin-top: 20px;
}

header h1 {
    font-size: 3rem;
    color: white;
}

picture {
    margin-top: 10px;
    display: block;
    width: 100%;
    max-width: 10%;
    border-radius: 10px;
}

/* Country info section */
.Country-container {
    max-width: 1100px;
    margin: 40px auto;
}

.country-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-info h2 {
    background-color: #2980b9;
    font-size: 2rem;
    margin-bottom: 20px;
    color: red;
    
}

.country-info p {
    font-size: 1.2rem;
    color: #34495e;
    margin-bottom: 10px;
   
}

/* Weather section */
#weather {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

#weather h3 {
    background-color: #2980b9;
    font-size: 1.8rem;
    color: red;
    margin-bottom: 10px;
    
}

#weather span {
    font-size: 1rem;
}

/* Footer styling */
footer {
    background-color: #2c3e50;
    text-align: center;
    font-size: 1rem;
    color: #7f8c8d;
    margin-top: 40px;
}

footer p {
    margin: 10px 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    .country-info p {
        font-size: 1rem;
    }

    #weather {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 2rem;
    }

    .country-info {
        padding: 15px;
    }

    .country-info p {
        font-size: 0.9rem;
    }

    #weather {
        padding: 15px;
        font-size: 0.9rem;
    }
}
